#!/usr/bin/make -f

# Name of the package
package=graphene

# Stamp Rules
build-stamp:
	$(checkdir)
	-rm -f build-stamp
	$(MAKE)
	touch build-stamp

# Debian rules
build: build-stamp

clean:
	$(checkdir)
	-rm -f *-stamp
	$(MAKE) clean
	-rm -rf debian/$(package)
	-rm -f debian/files
	-rm -f debian/substvars

binary-indep: build

# Definitions for install
INST_OWN = -o root -g root
MAKE_DIR  = install -p -d $(INST_OWN) -m 755
INST_FILE = install -c    $(INST_OWN) -m 644
INST_PROG = install -c    $(INST_OWN) -m 755 -s
INST_SCRIPT = install -c  $(INST_OWN) -m 755
DESTDIR=debian/package
binary-arch: build
	$(checkdir)
	$(checkroot)

	# Install Program
	$(MAKE) install DESTDIR=$(DESTDIR)

	# Install Program Resources
	$(MAKE_DIR) $(DESTDIR)/DEBIAN

	dpkg-gencontrol -P$(DESTDIR)
	cd $(DESTDIR) && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | xargs -r0 md5sum > DEBIAN/md5sums
	dpkg-deb -b $(DESTDIR) ../

# Below here is fairly generic really
binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean build
